<?xml version="1.0" encoding="UTF-8"?>
<gamedata>
	<textures>
		<texture id="test" path="res/test.png"/>
		<texture id="exit" path="res/exit.png"/>
		<texture id="smurf" path="res/SmurfSpin.png"/>
		<texture id="newgame" path="res/newgame.png"/>
		<texture id="options" path="res/options.png"/>
		<texture id="budgie" path="res/budgiesprite_highres.png"/>
		<texture id="enemy" path="res/test_enemy.png"/>
		<texture id="rock" path="res/rock.png"/>
		<texture id="confirm:exit" path="res/confirm_exit.png"/>
		<texture id="confirm:newgame" path="res/confirm_newgame.png"/>
		<texture id="yesno" path="res/yesno.png"/>
		<texture id="grass1" path="res/grass1_256.png"/>
		<texture id="background" path="res/temp_background.png"/>
		<texture id="resume" path="res/resumegame.png" />
		<texture id="reagan" path="res/reagan.png" />
		<texture id="gun1" path="res/gun1.png"/>
		<texture id="resume" path="res/resumegame.png"/>
		<texture id="bullet1" path="res/budgiesprite_highres.png" />
	</textures>
	<levels>
		<level nr="1" path="config/level1.xml"/>
			<!--Additional data-->
	</levels>
</gamedata>