<?xml version="1.0" encoding="UTF-8"?>
<gamedata>
	<menu path="config/menu.xml" />

	<!--Textures, id's and image paths-->
	<textures path="res/textures/">
	
		<textures path="menu/">
			<texture id="intro" path="introscreen.png"/>
			<texture id="confirm:exit" path="confirm_exit.png"/>
			<texture id="confirm:newgame" path="confirm_newgame.png"/>
			<texture id="exit" path="exit.png"/>
			<texture id="newgame" path="newgame.png"/>
			<texture id="options" path="options.png"/>
			<texture id="yesno" path="yesno.png"/>
			<texture id="resume" path="resumegame.png" />			
			<texture id="fullscreen" path="fullscreen.png" />
			<texture id="howtoplay" path="howtoplay.png" />
			<texture id="instructions" path="instructions.png" />
			<texture id="back" path="back.png" />
		</textures>
		
		<textures path="game/">
		
			<textures path="units/">
				<texture id="budgie" path="budgiesheet.png"/>
				<texture id="enemy" path="cat_noarm.png"/>
				<texture id="gun1" path="gun1_small.png"/>
				<texture id="enemygun" path="gun_arm_enemy.png"/>
			</textures>
			
			<textures path="terrain/">
				<texture id="grass1" path="grass1_256.png"/>
				<texture id="grass2" path="grass2_256.png"/>
				<texture id="ice1" path="ice1_256.png"/>
				<texture id="asphalt1" path="asphalt1_256.png"/>
				<texture id="rubber" path="bluerubber.png" />
				<texture id="rocktex" path="rocktex.png" />
				<texture id="mud1" path="mud01.png" />
			</textures>
			
			<textures path="objects/">
				<texture id="reagan" path="reagan.png" />
				<texture id="bullet1" path="bullet1.png" />
				<texture id="healthpack" path="healthpack.png" />
				<texture id="rock" path="rock.png"/>
			</textures>
			
			<textures path="backgrounds/">
				<texture id="background" path="temp_background.png"/>
			</textures>
		</textures>
	</textures>
	
	<!--Level data-->
	<levels>
		<!--<level nr="1" path="config/testlevel.xml" />-->
		
		<level nr="2" path="config/level2.xml" />
		<!--<level nr="2" path="config/level2.xml" />-->
	</levels>
	
		
	<!--Class names associated with elements for parsing-->
	<parserbindings>
		<group path ="edu.chl.tda366badbudgie.io.parsers.game">
			<binding element="terrain" class="TerrainSectionParser" />
			<binding element="enemy" class="EnemyParser" />
			<binding element="obstacle" class="ObstacleParser" />
			<binding element="healthpowerup" class="HealthPowerupParser" />
			<binding element="levelexit" class="LevelExitParser" />
		</group>
		<group path ="edu.chl.tda366badbudgie.io.parsers.geom">
			<binding element="polygon" class="PolygonParser" />
			<binding element="rectangle" class="RectangleParser" />
			<binding element="roundedrectangle" class="RoundedRectangleParser" />
			<binding element="circle" class="CircleParser" />
		</group>
	</parserbindings>
	
	
</gamedata>